<h1>xtc default project structure</h1>

<br>
Hover over underlined files and folders for annotations

<pre>
<style scoped>
	pre {
		font-family: Menlo, monospace;
		font-size: 12px;
		font-size-adjust: 0.5;
	}
	i {
		font-style: normal;
	}
	[title] {
		text-decoration: underline;
	}
	.cfg {
		color: royalblue;
	}
	.ctl {
		color: brown;
	}
	.doc {
		color: mediumpurple;
	}
	.fe {
		color: forestgreen;
	}
	.vue {
	}
	.app {
		color: olivedrab;
	}
	.bas {
		color: lightseagreen;
	}
	.inl {
		color: darkgreen;
	}
	.mod {
		color: orchid;
	}
	.pub {
		color: darkorange;
	}
	.bld {
		color: chocolate;
	}
	.dst {
		color: orange;
	}
	.lib {
		color: darkslateblue;
	}
	.dep {
		color: lightseagreen;
	}
</style>
project
├── <i class="cfg" title="The runtime configuration is built from files contained in here">_config</i>
│   <i class="cfg">├── config-build.json</i>
│   <i class="cfg">├── <i title="Config schema with defaults. Defines env, arg keys.">config-default.js</i></i>
│   <i class="cfg">├── config-local.json</i>
│   <i class="cfg">├── config-secret.json</i>
│   <i class="cfg">├── config-server.json</i>
│   <i class="cfg">├── <i title="Defines configs and merge order">configs.json</i></i>
│   <i class="cfg">└── <i title="Pin views on top of list in /xtc">pinned-views.json</i></i>
├── <i class="ctl" title="Route controllers and view rendering">controllers</i>
│   <i class="ctl">├── index.js</i>
│   <i class="ctl">└── routes.js</i>
├── <i class="doc" title="A place to write project documentation in">docs</i>
│   <i class="doc">└── <i title="The full documentation for this xtc version">xtc-documentation.md</i></i>
├── <i class="fe">frontend</i>
│   <i class="fe">├── <i class="vue" title="Page templates">views</i></i></i>
│   <i class="fe">│   <i class="vue">├── <i title="Base templates">layouts</i></i></i>
│   <i class="fe">│   <i class="vue">│   └── default.hbs</i></i>
│   <i class="fe">│   <i class="vue">├── 404.hbs</i></i>
│   <i class="fe">│   <i class="vue">├── grid.hbs</i></i>
│   <i class="fe">│   <i class="vue">└── home.hbs</i></i>
│   <i class="fe">├── <i class="inl" title="Bundles assets for inline inclusion">_inline</i></i>
│   <i class="fe">│   <i class="inl">├── css</i></i>
│   <i class="fe">│   <i class="inl">│   └── lib</i></i>
│   <i class="fe">│   <i class="inl">└── js</i></i>
│   <i class="fe">│   <i class="inl">    ├── lib</i></i>
│   <i class="fe">│   <i class="inl">    └── main.js</i></i>
│   <i class="fe">├── <i class="bas" title="Code that executes before module parsing">_base</i></i>
│   <i class="fe">│   <i class="bas">├── css</i></i>
│   <i class="fe">│   <i class="bas">│   ├── lib</i></i>
│   <i class="fe">│   <i class="bas">│   ├── sprites</i></i>
│   <i class="fe">│   <i class="bas">│   ├── 00-variables.less</i></i>
│   <i class="fe">│   <i class="bas">│   ├── 10-webfonts.less</i></i>
│   <i class="fe">│   <i class="bas">│   ├── 20-typography.less</i></i>
│   <i class="fe">│   <i class="bas">│   ├── 40-layout.less</i></i>
│   <i class="fe">│   <i class="bas">│   ├── 42-layout-responsive.less</i></i>
│   <i class="fe">│   <i class="bas">│   ├── 60-setup.less</i></i>
│   <i class="fe">│   <i class="bas">│   └── 90-styles.less</i></i>
│   <i class="fe">│   <i class="bas">└── js</i></i>
│   <i class="fe">│   <i class="bas">    ├── lib</i></i>
│   <i class="fe">│   <i class="bas">    └── terrific-extensions.js</i></i>
│   <i class="fe">├── <i class="mod" title="Instantiable, contained frontend modules">modules</i></i>
│   <i class="fe">│   <i class="mod">├── _page-controller</i></i>
│   <i class="fe">│   <i class="mod">│   ├── test</i></i>
│   <i class="fe">│   <i class="mod">│   └── page-controller.js</i></i>
│   <i class="fe">│   <i class="mod">├── example</i></i>
│   <i class="fe">│   <i class="mod">│   ├── skins</i></i>
│   <i class="fe">│   <i class="mod">│   ├── sprites</i></i>
│   <i class="fe">│   <i class="mod">│   ├── test</i></i>
│   <i class="fe">│   <i class="mod">│   ├── README.md</i></i>
│   <i class="fe">│   <i class="mod">│   ├── example-alternate.hbs</i></i>
│   <i class="fe">│   <i class="mod">│   ├── example.hbs</i></i>
│   <i class="fe">│   <i class="mod">│   ├── example.js</i></i>
│   <i class="fe">│   <i class="mod">│   └── example.less</i></i>
│   <i class="fe">├── <i class="app"><i title="Code to execute after module parsing">_application</i></i></i>
│   <i class="fe">│   <i class="app">└── js</i></i>
│   <i class="fe">│   <i class="app">    └── 00-terrific-bootstrap.js</i></i>
│   <i class="fe">└── <i class="pub" title="Webroot">_public</i></i>
│   <i class="fe">    <i class="pub">├── <i class="bld" title="Development assets build target">build</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">├── external.css</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">├── external.js</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">├── inline.css</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">├── inline.js</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">├── sprites.png</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">├── sprites@2x.png</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="bld">└── test.js</i></i></i>
│   <i class="fe">    <i class="pub">├── <i class="dst" title="Production assets build target">dist</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">├── external.min.css</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">├── external.min.js</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">├── inline.min.css</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">├── inline.min.js</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">├── sprites.png</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">├── sprites@2x.png</i></i></i>
│   <i class="fe">    <i class="pub">│   <i class="dst">└── test.js</i></i></i>
│   <i class="fe">    <i class="pub">├── fonts</i></i>
│   <i class="fe">    <i class="pub">├── img</i></i>
│   <i class="fe">    <i class="pub">├── lib</i></i>
│   <i class="fe">    <i class="pub">│   ├── test</i></i>
│   <i class="fe">    <i class="pub">│   └── jquery-1.10.2.js</i></i>
│   <i class="fe">    <i class="pub">├── favicon.ico</i></i>
│   <i class="fe">    <i class="pub">└── favicon.png</i></i>
├── <i class="lib" title="Custom project modules">lib</i>
│   <i class="lib">├── handlebars-helpers.js</i>
│   <i class="lib">└── helpers.js</i>
├── <i class="dep" title="Module dependencies">node_modules</i>
│   <i class="dep">├── generator-xtc</i>
│   <i class="dep">├── hipsum</i>
│   <i class="dep">└── <i title="Versioned, updateable xtc installation">xtc</i></i>
│   <i class="dep">    ├── bin</i>
│   <i class="dep">    │   └── setup.js</i>
│   <i class="dep">    ├── <i title="Framework routes at /xtc">controllers</i></i>
│   <i class="dep">    │   ├── routes-xtc.js</i>
│   <i class="dep">    │   └── xtc.js</i>
│   <i class="dep">    ├── lib</i>
│   <i class="dep">    │   ├── <i title="Runtime configuration creation">configure.js</i></i>
│   <i class="dep">    │   ├── <i title="Default template helpers">handlebars-helpers-xtc.js</i></i>
│   <i class="dep">    │   ├── helpers.js</i>
│   <i class="dep">    │   ├── <i title="`mod` template helper">mod-helper.js</i></i>
│   <i class="dep">    │   ├── <i title="Frontend module rendering">mod-render.js</i></i>
│   <i class="dep">    │   ├── multiple-view-dirs.js</i>
│   <i class="dep">    │   ├── overview.js</i>
│   <i class="dep">    │   ├── utils.js</i>
│   <i class="dep">    │   └── validator.js</i>
│   <i class="dep">    ├── node_modules</i>
│   <i class="dep">    ├── test</i>
│   <i class="dep">    ├── <i title="Framework views mounted at /xtc">views</i></i>
│   <i class="dep">    │   ├── <i title="Generated project overview view">overview.hbs</i></i>
│   <i class="dep">    │   └── test-modules.hbs</i>
│   <i class="dep">    ├── CHANGELOG.md</i>
│   <i class="dep">    ├── Documentation.md</i>
│   <i class="dep">    ├── LICENSE-MIT</i>
│   <i class="dep">    ├── README.md</i>
│   <i class="dep">    ├── package.json</i>
│   <i class="dep">    └── server.js</i>
├── <i title="Build entry point, build setup">Gruntfile.js</i>
├── README.md
├── package.json
├── <i title="Server entry point, server setup">server.js</i>
└── <i title="CLI tool info store">xtcfile.json</i>
</pre>