<div class="row layout-r-1">
	<div class="col">
		{{mod "example" indent=2}}
	</div>
	<div class="col">
		{{mod "example" template="alternate" indent=2}}
	</div>
	<div class="col">
		{{mod "example" skins="alternate" indent=2}}
	</div>
</div>